node_modules
dist
.tmp
.sass-cache
*.DS_Store
*.o

bower_components
api/node_modules

front-end/node_modules
front-end/app/lib
front-end/www
front-end/platforms
front-end/.tmp

front-end-old/node_modules
front-end-old/app/lib
front-end-old/www
front-end-old/platforms
front-end-old/.tmp

node/connection
