/* Your application styles go here */
.orange{
	color:#ff7e00;
}
.button.button-orange {
	border-color: #ff7e00;
	background-color: #ff7e00;
	color: #ffffff;
	font-size: 20px;
	font-weight: 900;
}
.button.button-orange.active,.button.button-orange.activated {
	border-color: #DB6C00;
	background-color: #DB6C00;
	color: #ffffff;
	font-size: 20px;
	font-weight: 900;
}

.button.button-lightBlue {
	border-color: #ff7e00;
	background-color: #ff7e00;
	color: #0FA;
	font-size: 20px;
	font-weight: 900;
}


.button.button-lightBlue.button-outline {
	border-color: #00AAFF;
	background: transparent;
	color: #00AAFF; }
.button.button-lightBlue.button-outline.active, .button.button-lightBlue.button-outline.activated {
	background-color: #00AAFF;
	box-shadow: none;
	color: #fff; }



.button-border-radius{
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.summary-subheader {
    border-bottom: solid;
    border-bottom-color: #ff7e00;
}