<ion-view view-title="Order" cache-view ="false">
  		
  			<ion-content id="areaCheck" 
  						class=" animated bounceInUp"  
  						ng-class="{fadeOutUp:poc.showOrderSubmit}"
  						scroll="false">
	  			<div class="card placeOrderlist">
	  			  	<div class="item item-text-wrap">
		  	  			
		  	  			<form name="placeOrderForm">
	  				  	    <span class="input input--hoshi " ng-class="{'input--filled':placeOrderForm.address.$valid}">
	  				  	      <input class="input__field input__field--hoshi"  
	  				  	      		 type="text" 
	  				  	      		 name="address" 
	  				  	      		 ng-model="poc.areaCheckData.address" 
	  				  	      		 ng-focus="focusAddress=true"
	  				  	      		 ng-blur="focusAddress=false"
	  				  	      		 required  />
	  				  	      <label class="input__label input__label--hoshi input__label--hoshi-color-1" >
	  				  	        <span class="input__label-content input__label-content--hoshi ">Address: </span>
	  				  	      </label>
	  				  	    </span>


	  				  	   <span class="input input--hoshi" ng-class="{'input--filled':placeOrderForm.city.$valid}">
	  				  	     <input class="input__field input__field--hoshi" 
	  				  	     		type="text"  
	  				  	     		name="city" 
	  				  	     		ng-model="poc.areaCheckData.city" 
	  				  	     		ng-focus="focusCity=true"
	  				  	      		ng-blur="focusCity=false"
	  				  	     		required/>
	  				  	     <label class="input__label input__label--hoshi input__label--hoshi-color-2">
	  				  	       <span class="input__label-content input__label-content--hoshi">City:</span>
	  				  	     </label>
	  				  	   </span>


	  				  	   <span class="input input--hoshi" ng-class="{'input--filled':placeOrderForm.postalCode.$valid}">
	  				  	     <input class="input__field input__field--hoshi" 
	  				  	     		type="text"  
	  				  	     		name="postalCode" 
	  				  	     		ng-model="poc.areaCheckData.postalCode " 
	  				  	     		ng-focus="focusPostalCode=true"
	  				  	      		ng-blur="focusPostalCode=false"
	  				  	     		required/>
	  				  	     <label class="input__label input__label--hoshi input__label--hoshi-color-3">
	  				  	       <span class="input__label-content input__label-content--hoshi">Postal Code:</span>
	  				  	     </label>
	  				  	   </span>

	  				  	   <span class="input input--hoshi" 
	  				  	   			
	  				  	   			ng-if=" !focusAddress && 
	  				  	   					!focusCity && 
	  				  	   					!focusPostalCode&&
	     				  	   				placeOrderForm.address.$valid &&
		  				  	   				placeOrderForm.city.$valid &&
		  				  	   				placeOrderForm.postalCode.$valid"
	  				  	   			ng-init="poc.getCodeAddress()"
	  				  	   			ng-class="{'input--filled':placeOrderForm.formattedAddress.$valid}">
	  				  	   		 
	  				  	   		 <input disabled="true"
	  				  	   		 		class="input__field input__field--hoshi disabled-color" 
	  				  	     			type="text"  
	  				  	     			name="formattedAddress" 
	  				  	     			ng-model="poc.areaCheckData.formattedAddress" 
	  				  	     			required/>
	  				  	    
		  				  	     <label class="input__label input__label--hoshi input__label--hoshi-color-4">
		  				  	        <span ng-if="!poc.showError"
		  				  	       		class="input__label-content input__label-content--hoshi">
		  				  	       			Formatted Address:
									</span>

		  				  	       	<span ng-if="poc.showError" 
		  				  	       		class="input__label-content input__label-content--hoshi">
		  				  	       			地址不正确:
		  				  	       	</span>

		  				  	     </label>
	  				  	   
	  				  	   </span>
	  				  	    <button class="button button-login  button-energized" 
	  				  	    		ng-click="poc.getAddress()"
	  				  	    		ng-if="placeOrderForm.formattedAddress.$valid ">
	  				  	      Go Ahead
	  				  	    </button>
			  	  		</form>	

		  	  			   
		  	  			  
				  	  		<br>
		  	  			    <br>
		  	  			    <br>
		  	  			    <br>
		  	  			    <br>
		  	  			    <br>
		  	  			    <br>

		  	  			</ul>
	  				</div>
	  			</div>
	  	  	</ion-content>



	  	  	<ion-content id="orderSubmit"
				  	  	 ng-show="poc.showOrderSubmit"
	  	  				 class="padding animated bounceInUp" 
	  	  				 ng-class="{zoomOut: !poc.showOrderSubmit}" 
	  	  				 scroll="true">
		  			<div class="card">
		  			  	<div class="item item-text-wrap">
		  			  		Distance: {{poc.orderData.distance}} Kms <br>
			  	  			Delivery Charge: {{poc.orderData.delCharge | currency}}
			  	  			
			  	  			<form name="submitOrderForm">
		  				  	    <span class="input input--hoshi" ng-class="{'input--filled':submitOrderForm.formattedAddress.$valid}">
		  				  	   		 
		  				  	   		 <input disabled="true"
		  				  	   		 		class="input__field input__field--hoshi disabled-color" 
		  				  	     			type="text"  
		  				  	     			name="formattedAddress" 
		  				  	     			ng-model="poc.orderData.formattedAddress" 
		  				  	     			required/>
		  				  	    
			  				  	     <label class="input__label input__label--hoshi input__label--hoshi-color-4">
			  				  	        <span ng-if="!poc.showError"
			  				  	       		class="input__label-content input__label-content--hoshi">
			  				  	       			Address:
										</span>

			  				  	     </label>
		  				  	   
		  				  	    </span>
		  				  	    <span class="input input--hoshi " ng-class="{'input--filled':submitOrderForm.name.$valid}">
		  				  	      <input class="input__field input__field--hoshi"  
			  				  	      		type="text" 
			  				  	      		name="name" 
			  				  	      		ng-model="poc.orderData.name" 
					  	      		 		ng-focus="focusName=true"
					  	      		  		ng-blur="focusName=false"
		  				  	      		    required  />
		  				  	      <label class="input__label input__label--hoshi input__label--hoshi-color-1" >
		  				  	        <span class="input__label-content input__label-content--hoshi ">Name: </span>
		  				  	      </label>
		  				  	    </span>


		  				  	   <span class="input input--hoshi" ng-class="{'input--filled':submitOrderForm.tel.$valid}">
		  				  	     <input class="input__field input__field--hoshi" 
		  				  	     		type="text"  
		  				  	     		name="tel" 
		  				  	     		ng-model="poc.orderData.tel" 
				  	      		 		ng-focus="focusTel=true"
				  	      		  		ng-blur="focusTel=false"
		  				  	     		required/>
		  				  	     <label class="input__label input__label--hoshi input__label--hoshi-color-2">
		  				  	       <span class="input__label-content input__label-content--hoshi">Tel:</span>
		  				  	     </label>
		  				  	   </span>


		  				  	  	<span class="input input--hoshi" ng-class="{'input--filled':submitOrderForm.apt.$valid}">
			  				  	     <input class="input__field input__field--hoshi" 
			  				  	     		type="text"  
			  				  	     		name="apt" 
			  				  	     		ng-model="poc.orderData.apt" 
	  				  	     				ng-focus="focusApt=true"
	  				  	     		 		ng-blur="focusApt=false"
			  				  	     		required/>
			  				  	     <label class="input__label input__label--hoshi input__label--hoshi-color-3">
			  				  	       <span class="input__label-content input__label-content--hoshi">Unit/Apt No.:</span>
			  				  	     </label>
		  				  	   	</span>



		  				  	   	<span class="input input--hoshi" ng-class="{'input--filled':submitOrderForm.pretax.$valid}">
			  				  	     <input class="input__field input__field--hoshi" 
			  				  	     		type="text"  
			  				  	     		name="pretax" 
			  				  	     		ng-model="poc.orderData.price " 
	  				  	     				ng-focus="focusPretax=true"
	  				  	     		 		ng-blur="focusPretax=false"
			  				  	     		required/>
			  				  	     <label class="input__label input__label--hoshi input__label--hoshi-color-5">
			  				  	       <span class="input__label-content input__label-content--hoshi">Total:</span>
			  				  	     </label>
		  				  	   	</span>

		  				  	    
		  				  	    <button class="button button-login  button-energized" 
		  				  	    		ng-click="poc.preorderSubmit()"
		  				  	    		ng-if=" !focusName && 
		  				  	   					!focusTel && 
		  				  	   					!focusApt&&
		  				  	   					!focusPretax&&
		     				  	   				submitOrderForm.name.$valid &&
			  				  	   				submitOrderForm.tel.$valid &&
			  				  	   				submitOrderForm.apt.$valid &&
			  				  	   				submitOrderForm.pretax.$valid">
		  				  	      提交
		  				  	    </button>
				  	  		</form>	
			  	  			   
			  	  			  
					  	  		<br>
			  	  			    <br>
			  	  			    <br>
			  	  			    <br>
			  	  			    <br>
			  	  			    <br>
			  	  			    <br>

			  	  			</ul>
		  				</div>
		  			</div>
	  	  	</ion-content>
	  	
</ion-view>
